################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/knapsack/obj
/knapsack/bin/Debug/net6.0
/.vs/knapsack/FileContentIndex
/.vs/knapsack/DesignTimeBuild
/.vs
